# roles/node_exporter/templates/extraScrapeConfigs.yaml.j2
# 🔍 Configuración adicional para Prometheus - nodos externos

- job_name: 'external-nodes'
  static_configs:
    - targets:
{% for host in groups['external_node_exporter'] | sort %}
{%   set ip = hostvars[host]['ansible_host'] | default(host) %}
      - '{{ ip }}:{{ node_exporter_port }}'
{% endfor %}
