# playbook/templates/node_exporter/extraScrapeConfigs.yaml.j2

# 🔍 Configuración adicional de Prometheus para hacer scrape a nodos externos

{% if node_exporter.extraScrapeConfigs is defined %}
{{ node_exporter.extraScrapeConfigs | to_nice_yaml(indent=2) }}
{% endif %}