[Unit]
Description=Node Exporter
After=network.target

[Service]
User={{ node_exporter_user }}
ExecStart={{ node_exporter_bin_dir }}/node_exporter
Restart=always
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=default.target