# helm/grafana/values-grafana.yaml.j2

adminUser: {{ grafana_admin_user }}
adminPassword: {{ grafana_admin_password }}

persistence:
  enabled: true
  storageClassName: {{ grafana_storage_class }}
  accessModes:
    - ReadWriteOnce
  size: {{ grafana_pvc_size }}

service:
  type: {{ grafana_service_type }}
  port: {{ grafana_service_port }}
  targetPort: {{ grafana_container_port }}
  name: http
