# roles/node_exporter/templates/extraScrapeConfigs.yaml.j2
# 🔍 Generado automáticamente por Ansible para monitorear nodos externos con Node Exporter

- labels:
    job: 'external-nodes'
  targets:
{% for host in groups['external_node_exporter'] | sort %}
{%   set ip = hostvars[host]['ansible_host'] | default(host) %}
  - '{{ ip }}:{{ node_exporter_port }}'
{% endfor %}