# helm/prometheus/values-prometheus.yaml.j2

server:
  containerPort: {{ prometheus_container_port }}

  extraArgs:
    web.listen-address: ":{{ prometheus_container_port }}"
    storage.tsdb.retention.time: 15d

  readinessProbe:
    httpGet:
      path: /-/ready
      port: {{ prometheus_container_port }}
    initialDelaySeconds: 10
    timeoutSeconds: 3
    periodSeconds: 10

  livenessProbe:
    httpGet:
      path: /-/healthy
      port: {{ prometheus_container_port }}
    initialDelaySeconds: 30
    timeoutSeconds: 5
    periodSeconds: 15

  persistentVolume:
    enabled: true
    storageClass: "{{ prometheus_storage_class }}"
    size: "{{ prometheus_pvc_size }}"
    accessModes:
      - ReadWriteOnce

  service:
    type: {{ prometheus_service_type }}
    port: {{ prometheus_service_port }}
    targetPort: {{ prometheus_container_port }}