# playbook\secret\grafana_middleware.yaml.j2
apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name: grafana-dashboard-auth
  namespace: monitoring
spec:
  basicAuth:
    secret: grafana-dashboard-auth
