# playbook\secret\grafana-basic-auth-secret.yaml.j2
apiVersion: v1
kind: Secret
metadata:
  name: "{{ grafana_secret_name }}"
  namespace: "{{ namespace_tpl }}"
type: Opaque
data:
  auth: "{{ grafana_basic_auth }}"