# playbook/secret/prometheus_middleware.yaml.j2
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: {{ prometheus_dashboard_middleware_name }}
  namespace: {{ monitoring_namespace }}
spec:
  basicAuth:
    secret: {{ prometheus_secret_name }}