# templates/secret/prometheus-basic-auth-secret.yaml.j2
apiVersion: v1
kind: Secret
metadata:
  name: "{{ prometheus_secret_name }}"
  namespace: monitoring
type: Opaque
data:
  auth: "{{ prometheus_basic_auth }}"