apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: monitoring
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s

    scrape_configs:
      - job_name: 'kubernetes'
        kubernetes_sd_configs:
          - role: node

      - job_name: 'kubelet'
        metrics_path: /metrics
        static_configs:
          - targets: ['localhost:10255']

      - job_name: 'additional-configs'
        file_sd_configs:
          - files:
              - /etc/prometheus/extraScrapeConfigs.yaml